.title-l{
	font-size: 6em;
}

.title-m{
	font-size: 2em;
}

.text-wrapper {
    text-align: center;
}

.nav-col {
    color:#ffc30f;
    font-size: 1.1em;
    font-weight: bold;
    font-family: calibri;
}

.burger-col{
    color: #000000;
    border: 10px;
}

.is-transp {
	background-color: #36363600;
	color: antiquewhite;
}